doctype html
html(lang="en")
    head
        title= Title
        script(src='/assets/vendor.js')
        script(src='/assets/app.js')
    body
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.breadcrumb
            a.navbar-brand(href='/')
                img.d-inline-block.align-top(src='https://png.icons8.com/ios/100/000000/checked-checkbox.png', width="30" height="30" alt="")
                |  TaskManager
            
            form.form-inline.ml-auto
                a.btn.btn-outline-primary.mx-1(href="/user/new", role="button") Sign in
                a.btn.btn-outline-secondary.mx-1(href="/user/new", role="button") Log in
           
        block content