doctype html
html(lang="en")
    head
        title= Title
        script(src='/assets/vendor.js')
        script(src='/assets/app.js')
    body
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.breadcrumb
            a.navbar-brand(href='/')
                img.d-inline-block(src='https://png.icons8.com/ios/100/000000/checked-checkbox.png', width="30" height="30" alt="")
                |  TaskManager
            form.form-inline.ml-auto
                nav-item.mx-1
                    a.nav-link(href='/users') Users
                if isSigned 
                    nav-item.mx-1
                        a.nav-link(href='/user' + #{id}) #{username} 

                    a.btn.btn-outline-secondary.mx-1(href="/session", data-method='delete' rel='nofollow' role="button") Log out
                else 
                    a.btn.btn-outline-primary.mx-1(href="/user/new", role="button") Sign in
                    a.btn.btn-outline-secondary.mx-1(href="/session", role="button") Log in
           
        block content