extends /layouts/application.pug

block content
  .container-fluid
    .row
      .col-md-6.mx-auto
        .jumbotron.mt-5
          if currentUser
            h2= currentUser.firstName
          else
            h2
              | Hello, Koa!
            p
              | This is a first version of my task-manager app
            p
              | Current enviroment - #{env}
            p
              a.btn.btn-primary.btn-large(href='https://github.com/Rende11/project-lvl4-s131') Github
