extends /layouts/application.pug

block content
  a.btn.btn-outline-primary.mx-1(href=urlFor('taskNew'), role="button") Create new task
  .container.mx-auto
    .row.mx-auto
      +card
      +card
      +card
      +card
      +card