extends /layouts/application.pug

block content
  +jumb  
    +formFor(form, errors, { url: urlFor('taskNew'), method: 'post', id: 'taskForm' })
      +input(form, errors, 'name', { label: 'Task name' })
      +input(form, errors, 'description', { label: 'Description' })
      +select(form, errors, 'assignedToId', 'Assigned to: ', form.users, 'taskForm')
      +select(form, errors, 'statusId', 'Status: ', form.statuses, 'taskForm')
      +button(form)
