extends /layouts/application.pug

block content
  +jumb  
    +formFor(form, errors, { url: urlFor('tasksCreate'), method: 'post', id: 'taskForm' })
      +input(form, errors, 'name', { label: 'Task name' })
      +text(form, 'Description', 'description', 'taskForm')
      +select(form, errors, 'assignedToId', 'Assigned to', form.users, 'taskForm')
      +select(form, errors, 'status', 'Status', form.statuses, 'taskForm')
      +input(form, errors, 'tags', { label: 'Tags' })
      +button(form)
