extends /layouts/application.pug

block content
  +jumb  
    +formFor(form, errors, { url: urlFor('statusesCreate'), method: 'post' })
      +input(form, errors, 'name', { label: 'Status name' })
      +button(form)