extends /layouts/application.pug

block content
  +alert(flash)
  if users.length > 0
    table.table
      thead
        tr
          th #
          th First Name
          th Last Name
          th Email
      tbody
        each user, index in users
          tr
            td= index + 1
            td= user.firstName
            td= user.lastName
            td= user.email