extends /layouts/application.pug

block content
    .container-fluid
        .row
            .col-md-6.mx-auto
                .jumbotron.mt-5
                    form(action="/user/new", method="post")
                        .form-group.row
                            label.col-sm-0.col-form-label(for="firstName")
                            .col-sm-12
                                input#firstName.form-control(type="First Name" placeholder="First Name" name='firstname')
                        .form-group.row
                            label.col-sm-0.col-form-label(for="lastName")
                            .col-sm-12
                                input#lastName.form-control(type="Last Name" placeholder="Last Name" name='lastname')
                        .form-group.row
                            label.col-sm-0.col-form-label(for="inputEmail3")
                            .col-sm-12
                                input#inputEmail3.form-control(type="email" placeholder="Email" name='email')
                        .form-group.row
                            label.col-sm-0.col-form-label(for="inputPassword3")
                            .col-sm-12
                                input#inputPassword3.form-control(type="password" placeholder="Password" name='password')
                        .form-group.row
                                button.btn.btn-primary.mx-auto(type="submit") Sign in