extends /layouts/application.pug

block content
    .container-fluid
        .row
            .col-md-8.mx-auto
                .jumbotron.mt-5
                    form
                        .form-group.row
                            label.col-sm-2.col-form-label(for="inputEmail3") Email
                            .col-sm-10
                                input#inputEmail3.form-control(type="email" placeholder="Email")
                        .form-group.row
                            label.col-sm-2.col-form-label(for="inputPassword3") Password
                            .col-sm-10
                                input#inputPassword3.form-control(type="password" placeholder="Password")
                        .form-group.row
                            .offset-sm-2.col-sm-10
                                button.btn.btn-primary(type="submit") Sign in