extends /layouts/application.pug

block content
  +formFor(form, errors, { url: urlFor('userNew'), method: 'post' })
    +input(form, errors, 'firstName', { label: 'First name' })
    +input(form, errors, 'lastName', { label: 'Last name' })
    +input(form, errors, 'email', { label: 'Email' })
    +input(form, errors, 'password', { label: 'Password', as: 'password' })
    +button(form)
